<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Cognition Bootcamp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>891A58BD252F4E4E00B0016B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>891A58D3252F4E5000B0016B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>891A58DE252F4E5000B0016B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
