<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>319657541423-mjmgd5ato51bh9qs7e168ged1t8qbirt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.319657541423-mjmgd5ato51bh9qs7e168ged1t8qbirt</string>
	<key>API_KEY</key>
	<string>AIzaSyDpgalB-zDLN8UassLbfr29udK3rnQ3bzQ</string>
	<key>GCM_SENDER_ID</key>
	<string>319657541423</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sabootcamp.ioscog.radiance</string>
	<key>PROJECT_ID</key>
	<string>sa-cog-bootcamp</string>
	<key>STORAGE_BUCKET</key>
	<string>sa-cog-bootcamp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:319657541423:ios:0e5d5ad8188939deffebda</string>
	<key>DATABASE_URL</key>
	<string>https://sa-cog-bootcamp.firebaseio.com</string>
</dict>
</plist>
